<div class="card">
    <div class="card-header text-center">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="container-fliud">
            <div class="text-center">
                <img src="assets/images/welcome_logo.png" 
                     class="img-responsive center-block"
                     style="max-height:300px; padding-bottom:50px"/>
            </div>
            <div class="text-center">
                Developed by:
            </div>
            <div class="text-center">
                Bruce Alan Baynosa
            </div>
            <div class="text-center">
                <a href="mailto:bruce.baynosa15@gmail.com">Contact Us</a>
            </div>
        </div>
    </div>
</div>